<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="STYLE.css">
    <title>My Top 3 Manhwa's</title>
</head>
<body>
    <div class="container">
        <div class="box box1">
            <h2>Omniscient Reader's Viewpoint</h2>
            <div class="inner-container">
                <div class="item item1">A Korean web novel that follows the protagonist, Kim Dokja, who discovers that the novel he has been reading for years has become a reality. As he navigates this new world, he interacts with characters from the novel and strives to change the course of events.</div>
                <div class="item item1"></div>
            </div>
        </div>
        <div class="box box2">
            <h2>The Beginning After The End</h2>
            <div class="inner-container">
                <div class="item item2">A web novel that centers around King Grey, a former martial artist and ruler who is reincarnated into a magical world as a young boy named Arthur. With memories of his past life intact, Arthur navigates the challenges of royalty, magic, and adventure while trying to uncover the mysteries of his previous existence.</div>
                <div class="item item2"></div>
            </div>
        </div>
        <div class="box box3">
            <h2>Solo Leveling</h2>
            <div class="inner-container">
                <div class="item item3">A South Korean web novel featuring Sung Jin-Woo, the weakest of the rank E hunters, who finds himself trapped in a dangerous dungeon. After a mysterious system grants him the ability to level up as a "Player". Sung Jin-Woo faces powerful monsters and unravel the secrets of the supernatural world.</div>
                <div class="item item3"></div>
            </div>
        </div>
    </div>
</body>
</html>
